body{
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
/** MAIN STYLES **/
.right-padding{
  padding-right: 0;
}
.no-padding{
  padding: 0;
}
.max-viewport{
  min-height: 100vh;
}
/** END OF MAIN STYLES **/
/** NAVBAR **/
.navbar{
  border-top: .1875rem solid #f15025;
  border-bottom: .1875rem solid #f15025;
  background-color: #242a33;
}
.navbar .navbar-brand{
  color: #f15025;
}
.navbar .nav-link,
.navbar .icon{
  color: #687384;
}
.navbar .nav-link:hover,
.navbar .icon:hover{
  color: #fff;
}
.navbar .icon{
  position: relative;
}
.navbar .icon::after{
  content: "";
  position: absolute;
  top: -.3125rem;
  left: .625rem;
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background-color: #ef5350;
}
button.navbar-toggler,
button.navbar-toggler:focus{
  outline: none;
}
/** END OF NAVBAR **/
/** SIDEBAR **/
.sidebar{
  background-color: #242a33;
}
.sidebar .nav-link,
.sidebar .navbar-brand{
  color: #687384;
}
.sidebar .nav-link:hover,
.sidebar .navbar-brand:hover{
  color: #fff;
}
/** END OF SIDEBAR **/
